body {
    font-family: "Open Sans", sans-serif;
}

img {
    width: 100%;
}

.main-grid {
    display: grid;
    grid-template-areas:
        "n"
        "t"
        "m"
        "f";
}

@media (min-width: 800px) {
    .main-grid {
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            "n t"
            "n m"
            "f m";
    }
}

.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 30, 149);
    color: white;
    padding: 1rem 1rem;
    grid-area: n;
}

@media (min-width: 800px) {
    .navbar {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 3rem;
    }
}

.navbar-brand {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.icon-menu {
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
}

.navbar-items {
    display: none;
}

@media (min-width: 800px) {
    .navbar-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .icon-menu {
        display: none;
    }
    .nav-link {
        color: white;
        text-decoration: none;
    }
}

.filter {
    background-color: #999;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    grid-area: t;
}

.cards {
    grid-area: m;
    background-color: rgb(225, 156, 255);
}

.cards-items {
    display: grid;
    gap: 0.5rem;
}

@media (min-width: 576px) {
    .cards-items {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media (min-width: 800px) {
    .cards-items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.card {
    border: 2px solid #999;
    border-radius: 1rem;
    overflow: hidden;
    display: none;
}

.card:nth-child(1) {
    display: block;
    background-color: rgb(113, 113, 113);
}

@media (min-width: 576px) {
    .card {
        display: block;
    }
}

.card-body {
    text-align: center;
    padding: 1rem 2rem;
}

.footer {
    grid-area: f;
    background-color: rgb(0, 16, 82);
    padding: 1rem;
    text-align: center;
    color: white;
}
